<header class="masthead mb-3 bg-dark">
  <div class="inner">
    <h3 class="masthead-brand text-center" style="color: white;">Covid-19</h3>
    <nav class="nav nav-masthead justify-content-center  navbar-dark bg-dark">
      <a class="nav-link  active" href="#" routerLink='/'>Home</a>
      <a class="nav-link  active " href="#" routerLink='countries'>Countries</a>
    </nav>
  </div>
</header>
<style>
  * {
    font-family: 'century gothic';
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: 400;
  }
</style>
