<div class="row  ml-2 mr-2" style="color: white;">
  <div class="col-sm-3">
    <div class="card text-center mb-3" style="background-color: #ffa45c;">
      <div class=" card-body">
        <h5 class="card-title">Active</h5>
        <h1>{{totalActive}}</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-center mb-3" style="background-color:#9c1de7">
      <div class="card-body">
        <h5 class="card-title">Recoverd</h5>
        <h1>{{totalRecoverd}}</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-center mb-3" style="background-color: #21e6c1;">
      <div class="card-body">
        <h5 class="card-title">Conform</h5>
        <h1>{{totalConformed}}</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-center mb-3" style="background-color:#2d767f;">
      <div class="card-body">
        <h5 class="card-title">Deathes</h5>
        <h1>{{totalDeathes}}</h1>
      </div>
    </div>
  </div>
</div>
